h1, h3, p, footer{
    text-align: center;
    color: rgb(151, 38, 38);
    background-color: rgb(205, 241, 240);
    padding: 8px;
    width: 800px;
    margin: 20px auto;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul, ol{
    color: rgb(35, 85, 88);
    text-align:left;    
    width: 600px;
    margin:auto;
    font-family: Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif;
    background-color: rgb(255, 203, 171);
    padding: 8px;
}
